
.hero {
	background-color: #EEEEEE;
	width: 100%;
	height: 100%;
	max-height: calc(100% - 50px);
	.inner {
		position: relative;
		max-width: 100%;
		height: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 40px;
		box-sizing: padding-box;
		z-index: 4;
		h1 {
			color: rgba(163,32,109,0.6);
			font-weight: 300;
			text-transform: uppercase;
			margin-bottom: 0;
			border-bottom: 2px rgba(163,32,109,0.6) dashed;
		}
		p {
			color: #999999;
			margin-bottom: 0;
			font-size: 13px;
			line-height: 150%;
			max-width: 550px;
			&.small {
				font-size: 12px;
			}
			a {
				display: inline-block;
				font-size: 22px;
				color: rgba(163,32,109,0.4);
				margin: 0 10px;
				transform: rotateY(0deg);
				transition: transform 0.2s ease-in-out, color 0.2s linear;
				&:hover {
					color: rgba(163,32,109,0.8);
					transform: rotateY(360deg);
					transition: transform 0.6s ease-in-out, color 0.4s linear;
				}
			}
		}
	}
	.overlay {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: transparent;
		background: -moz-linear-gradient(top,  rgba(114,81,109,0.2) 0%, rgba(238,238,238,1) 100%);
background: -webkit-linear-gradient(top,  rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
background: linear-gradient(to bottom,  rgba(114,81,109,0.2) 0%,rgba(238,238,238,1) 100%);
		z-index: 3;
	}
	.background {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #EEEEEE;
		z-index: 1;
		#hero-canvas {
			width: 100%;
			height: 100%;
			position: relative;
		}
	}
}
