
  
  #bm {
  width: 1000px;
  /* position: absolute; */
  float: right;
  margin-right: -200px;
  margin-top: -500px;

  }

  .main{
    position: fixed;
   
    width: 100%;
  
    text-align: center;
    float: right;

     
     
  }